.intro-text {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: normal;
  font-size: clamp(1.5rem, 1.0385rem + 2.4615vw, 2.5rem);
  line-height: 1.2;
  color: var(--color-text);
  margin: 2em 0 1.5em 0;
  max-width: 1200px;
  padding-right: 0.5em;
}

h2 {
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  margin-bottom: 5em;
}

.section-link {
  color: var(--color-text);
  font-weight: 400;
  text-decoration: none;
  font-size: 1em;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  padding: 0.6em 1.6em;
  border-radius: 999px;
  display: inline-block;
  border: 1px solid var(--button-outline-dark);
  margin-top: 1em;
}

.section-link::before {
  content: none;
}

.section-link:hover {
  opacity: 1;
  border-color: var(--button-outline-dark-focus);
}

.section-link:focus {
  border-color: var(--button-outline-dark-focus);
  outline: none;
}

.blog-list {
  margin-top: 3em;
  max-width: 500px;
}

.blog-list article {
  margin-bottom: 3em;
  border-radius: 0.75em;
  transition:
    border 0.3s,
    transform 0.3s;
}

.blog-list article:hover {
  border-color: var(--color-border);
}

.blog-list h3 {
  margin: 0 0 0.25em 0;
  font-size: 1.25em;
  line-height: 1.4;
  display: inline;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.blog-list article:hover a h3 {
  border-bottom-color: var(--color-text);
}

.blog-list article:hover a p {
  color: var(--color-text);
  transition: color 0.3s;
}

.blog-list a {
  text-decoration: none;
  display: block;
  color: var(--color-text);
}

.blog-list a h3 {
  color: var(--color-text);
}

.blog-list .description {
  margin: 0.75em 0 0 0;
}

.blog-list .date {
  text-transform: uppercase;
  font-size: 0.75em;
  margin: 0.75em 0 0 0;
}
